﻿body {					
	color:#444444;
	font-size:0.825em;
	background-color: #eeeeee;
	font-family:Arial, Helvetica, sans-serif;
}
a {
	color: #0066ff;
}
.container{
	position: relative;
	
	min-height: 240px;
	margin:40px auto;
	padding:10px;
	padding-right:210px;
	width:700px;

	background-color:#F5F5F5;
	border:2px solid white;					
	
	-moz-box-shadow:0 0 1px gray;
	-webkit-box-shadow:0 0 1px gray;
	box-shadow:0 0 1px gray;
}
.container form span{
	min-width: 200px;
	display: inline-block;
}
.container .item{
	background-color:#F5F5F5;
	border: 2px solid white;
	margin-bottom:10px;
	-moz-box-shadow: 0 0 1px gray;
	-webkit-box-shadow: 0 0 1px gray;
	box-shadow: 0 0 1px gray;
}
.picholder{
	width: 200px;
	top: 0px;
	right: 0px;
	position: absolute;
	
}