﻿
<html>
	<head>
		<title>@Model.Title</title>
		<link rel="stylesheet" href="@(Model.baseAddress)static/main.css">
		
		<script type="text/javascript" src="@(Model.baseAddress)static/jquery.js"></script>
		<script type="text/javascript" src="@(Model.baseAddress)static/main.js"></script>
	</head>
	<body>
		<div class="container">
			<div>[<a href="@(Model.baseAddress)">index</a>]&nbsp;[<a href="@(Model.baseAddress)getlist">getlist</a>]</div>
			<pre class="picholder">

              .:.               
             .::::.             
..         ..::::::''::         
::::..  .::''''':::    ''.      
':::::::'         '.  ..  '.    
 ::::::'            : '::   :   
  :::::     .        : ':'   :  
  :::::    :::       :.     .'. 
 .::::::    ':'     .' '.:::: : 
 ::::::::.         .    ::::: : 
:::::    '':.... ''      '''' : 
':::: .:'              ...'' :  
 ..::.   '.........:::::'   :   
  '':::.   '::'':'':::'   .'    
        '..  ''.....'  ..'      
           ''........''

			</pre>
			@if ( Model.showForm == true ){
			<div>
				<h2>Make short URL</h2>
			</div>
				
			<form id="url_form">
				<span>Pass some valid URL:</span>
			  	<input type="text" name="link" id="url_form_content" value="http://google.com/">
			  	<input type="button" value="Get tiny link!" id="btn_short_make">
		  	</form>
			<div id="url_form_result" style="display:none;">
				<h2></h2>
				<div></div>
				<input type="button" value="Try again!" id="btn_try_again">
			</div>			
			}
			
		  	@if ( Model.showList == true ){
				<div>
					<h2>Link list</h2>
					@foreach ( var item in Model.showListContent )
					{
					    <div class="item"><p>Tiny: @(Model.baseAddress)link/<a href="@(Model.baseAddress)link/@(item.Key)">@item.Key</a></p>
					    <small>Full url: <a href="@item.Value">@item.Value</a></small></div>
					}
				</div>
			}
		</div>
	</body>
</html>